.popup__content {
  width: 430px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 470px) {
  .popup__content {
    width: 282px;
    height: 322px;
  }
}
