.popup__edit-position {
  margin: 0 36px 48px 36px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bcbcc4;
}

@media (max-width: 470px) {
  .popup__edit-position {
    margin: 0 22px 45px 22px;
  }
}
