.popup__edit-username {
  max-width: 358px;
  margin: 54px 36px 0 36px;
  padding: 0;
  border: 0;
}

@media (max-width: 470px) {
  .popup__edit-username {
    max-width: 238px;
    margin: 75px 22px 48px 22px;
    font-size: 18px;
    line-height: 22px;
  }
}
