.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 38px);
  }
}

@media (max-width: 940px) {
  .footer {
    margin-bottom: 36px;
  }
}
